<!-- コメント一覧 -->
<table id="js-table-comment">
  <% book.book_comments.each do |comment| %>
    <tr id="book_comment_<%= comment.id %>">
      <td>
        <%= attachment_image_tag comment.user, :profile_image, size: "50x50", fallback: "no-image-mini.jpg" %><br>
        <%= comment.user.name %>
      </td>
      <td><%= comment.comment %></td>
      <% if comment.user == current_user %>
        <td><%= link_to "Destroy", book_book_comments_path(comment.id), method: :delete, remote: true, class: "btn btn-danger" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<!-- コメント一覧 -->
